@use './../base/variables' as *;

.footer-contenedor{
    background-color: $claro;
    padding: 1rem;
    text-align: center;
    color: $oscuro;
    box-shadow: 0 -10px 15px -5px rgba(0, 0, 0, 0.5);

    *{
        margin: 0.5rem 0;
    }

    h3{
        font-weight: 400;
    }

    div{
        font-size: 2rem;
        a{
            color: $oscuro;
            margin: 0 2rem;
        }
    }
}