@use './../base/variables' as *;

.navegacion-contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0rem;
    position: fixed;
    width: 100%;
    z-index: 100;
    transition:  background-color 0.5s ease;
    transition: box-shadow 2s ease;
   

    @media (min-width: $mediano) {
        padding: 1.2rem ; 
    }

    div{
        display: flex;
        align-items: center;
    }

    nav{
        *{   
            padding: 1.1rem ;    
            font-size: 0.6rem;
            font-weight: bold;
            &:hover{
                background-color: #bbbbbb5e;
            }

            @media (min-width: $mediano) {
                padding: 1.5rem ; 
                font-size: 1rem;
            }

        }
    }
}
.navegacion-logo{
    display: none;
    @media (min-width: $mediano) {
        display: block;
    }
}

.navegacion-iconoCarrito{
    font-size: 0.8rem;
    margin-left: 2rem;
    @media (min-width: $mediano) {
        font-size: 1.5rem;
    }
}
//Estilos para ajustar la navegacion
.navegacion_hero{
    top: 15;
    left: 0;
    color: $claro;
    nav{
        *{
            color: $claro;
        }
    }
}

.navegacion_movil{
    top: 0;
    right: 0;
    background-color: $claro;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);

    nav{
        *{
            color: $colorSecundario;
        }
    }
}

