@use './../base/variables' as *;
.index-categoria_contenedor{

    padding: 2rem;
    text-align: center;
    width: 100%;

    h3{
        font-size: 1rem;
        @media(min-width: $mediano ){
            font-size: 2.5rem;
        }
    }

    .index-categoria_contenido{
        padding: 2rem 0;
        height: 20rem;
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;

        @media(min-width: $mediano){
            grid-template-columns: repeat(5, 1fr);
        }
    }
}

.index-caracteristicas{
    padding: 2rem;
    background-color: $colorPrincipal;
    .index-caracteristicas_contenedor{
        
        @media (min-width: $mediano){
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 3rem;
        }

        @media (min-width: $grande){
            width: 80%;
            margin: auto;
        }


        .index-caracteristicas_contenido{
            column-gap: 0;
            margin: auto;
            @media (min-width: $grande){
                width: 80%;
                margin: auto;
            }
    
        }
    
        img{
            border-radius: 50%;
            width:80%;
            margin-top: 1rem;
        }
    
        div{
            text-align: center;
            padding: 0.5rem 0;
            color: $claro;
    
            h3{
                text-transform: uppercase;
                font-size: 1.5rem;
                margin: 0.5rem 0;
                @media(min-width: $mediano){
                    font-size: 1.2rem;
                }
                @media(min-width: $grande){
                    font-size: 1.2rem;
                }
            }
    
            p{
                @media(min-width: $mediano){
                    font-size: 0.9rem;
                }
            }
        }
    }
}
.index-productosDestacados{
    width: 100%;
    padding: 3rem 0;
    text-align: center;
    h2{
        color: $colorSecundario;
        text-transform: uppercase;
        font-size: 2rem;

    }

    .index-productosDes_contenedor{
        padding-top: 1rem;
        width: 70%;
        margin: auto;

        @media (min-width: $mediano) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

        }
        .index-producto_contenedor{

            img{
                clip-path: polygon(
                50% 5%,    /* Punto superior */
                63% 30%,   /* Derecha superior */
                90% 35%,   /* Derecha media */
                70% 55%,   /* Derecha inferior */
                75% 80%,   /* Punta inferior derecha */
                50% 65%,   /* Centro inferior */
                25% 80%,   /* Punta inferior izquierda */
                30% 55%,   /* Izquierda inferior */
                10% 35%,   /* Izquierda media */
                37% 30%    /* Izquierda superior */
                );
                object-fit: cover; /* Asegura que la imagen se ajuste dentro de la forma */
                height: 18rem;
                width: auto;
                transition:  transform 0.5s ease-in-out;
                &:hover{
                    transform: scale(1.2);
                }
            }
           
        }
    }
}
.producto-btnCarrito{
    width: 80%;
    margin: 1rem auto;
    padding: 0.5rem;
    text-align: center;
    color: $claro;
    border-radius: 3rem;
    background-color: $colorSecundario;
    @media (min-width: $mediano) {
        width: 50%;
    }
}
.texto{
    margin-top: -3rem;
}